.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav {
  width: 60%;
  margin: 0 auto;
}

.nav__icon {
  padding: 15px 0;
  font-size: 40px;
  color: gray;
}

.nav__btn {
  margin: 15px 0;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: white;
  float: right;
  font-family: Lato;
}

.nav__btn:hover {
  transition: .3s;
  color: #333;
}

/*メイン*/

.main__content {
  background-color: #f2f2f2;
  text-align: center;
}

.main__title_box {
  padding: 250px 0;
  margin: 0 auto;
  font-family: Lato;
}

.main__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.sub__title {
  font-size: 30px;
  color: #c0c0c0;
}

/*section_1 サイト説明*/

.description__section {
  background-color: #74cfae;
  color: white;
}

.description__main {
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.description__picuture {
  float: left;
  padding-right: 100px;
}

.description__title {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: Raleway;
}

.description__text {
  font-size: 20px;
  font-family: Lato;
}

/*section_2 事業説明*/


.works__section {
  background-color: #f2f2f2;
}

.works__title {
  font-size: 24px;
  padding: 60px 0 40px 0;
  text-align: center;
  font-family: Raleway;
}

.works__pictures {
  display: inline-block;
  font-size: 0;
  text-align: center;
}

.works__picuture {
  margin: 0 100px 80px 0;
  opacity: .7;
}

.works__picuture:hover {
  transition: .3s;
  opacity: 1;
}

.works__picuture:nth-child(3) {
  margin-right: 0;
}

.works__picuture:last-child {
  margin-right: 0;
}

.works__sub_content {
  padding: 10px 0 70px 0;
  width: 700px;
  margin: 0 auto;
  width: 60%;
}

.works__sub_text {
  text-align: center;
  float: left;
  word-break: break-word;
  width: 70%;
  font-family: Lato;
}

.works__btn {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  margin-left: 90px;
  color: white;
  float: right;
  font-family: Lato;
}

.works__btn:hover {
  transition: .3s;
  color: #333;
}

/*section_3 スキル説明*/


.skils__section {
  background-color: #4e4e4e;
}

.skils__title {
  color: white;
  padding: 70px 0 40px 0;
  text-align: center;
  font-size: 24px;
  font-family: Raleway;
}

.skils__box {
  margin-right: 180px;
  display: inline-block;
  text-align: center;
}

.skils__box:last-child {
  margin: 0;
}

.skils__content {
  text-align: center;
}

.skils__pictures {
  padding-bottom: 100px;
}

.skils__picuture_title {
  color: white;
  margin-top: 10px;
  font-size: 16px;
  font-family: Lato;
}


/*section_4 SNSアイコン*/

.sns__section {
  background-color: #f2f2f2;
  text-align: center;
}

.sns__content {
  padding: 170px 0;
  display: inline-block;
  font-size: 0;
}

.sns__items {
  width: 185px;
  display: inline-block;
  text-align: center;
}

.sns__items:hover {
  transition: .3s;
  background-color: white;
}

.sns__icons {
  color: #74cfae;
  font-size: 60px;
  padding: 30px 0;
}


/*フッター*/

.footer {
  background-color: #74cfae;
}

.footer__text {
  margin-right: 50px;
  color: white;
  text-align: right;
  padding: 20px 0 25px 0;
  font-family: Lato;
}











