.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
}

.nav__icon {
  padding: 15px 0;
  font-size: 40px;
  color: #808080;
}

.nav__btn {
  margin: 15px 0;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-family: Lato;
  transition: .3s;
}

.nav__btn:hover {
  color: #333;
}

/*メイン*/

.main__content {
  background-color: #f2f2f2;
  text-align: center;
}

.main__title_box {
  padding: 320px 0 250px 0;
  margin: 0 auto;
  font-family: Lato;
  max-width: 1100px;
}

.main__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.sub__title {
  font-size: 30px;
  color: #c0c0c0;
}

/*section_1 サイト説明*/

.description__section {
  background-color: #74cfae;
  color: #fff;
}

.description__main {
  padding-top: 50px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.description__word_box {
  overflow: auto;
}

.description__picuture {
  float: left;
  padding-right: 185px;
}

.description__title {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: Raleway;
}

.description__text {
  font-size: 20px;
  font-family: Lato;
}

/*section_2 事業説明*/


.works__section {
  background-color: #f2f2f2;
}

.works__inner {
  max-width: 1100px;
  padding: 60px 0 70px 0;
  margin: 0 auto;
}

.works__title {
  font-size: 24px;
  text-align: center;
  font-family: Raleway;
  margin-bottom: 40px;
}

.works__pictures {
  font-size: 0;
  margin-bottom: 90px;
}

.works__picuture_link {
  margin-right: 100px;
  margin-bottom: 80px;
  display: inline-block;
}

.works__picuture {
  opacity: .7;
  transition: .3s;
}

.works__picuture:hover {
  opacity: 1;
}

.works__picuture_link:nth-child(4),
.works__picuture_link:nth-child(5),
.works__picuture_link:last-child {
  margin-bottom: 0;
}

.works__picuture_link:nth-child(3) {
  margin-right: 0;
}

.works__picuture_link:last-child {
  margin-right: 0;
}

.works__sub_content {
  width: 700px;
  margin: 0 auto;
}

.works__sub_text {
  text-align: center;
  float: left;
  width: 500px;
  font-family: Lato;
}

.works__btn {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  margin-left: 90px;
  color: #fff;
  float: right;
  font-family: Lato;
  transition: .3s;
}

.works__btn:hover {
  color: #333;
}

/*section_3 スキル説明*/


.skils__section {
  background-color: #4e4e4e;
}

.skils__inner {
  max-width: 1100px;
  padding: 70px 0 100px 0;
  margin: 0 auto;
}

.skils__title {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-family: Raleway;
}

.skils__box {
  margin-right: 180px;
  display: inline-block;
  text-align: center;
}

.skils__box:last-child {
  margin: 0;
}

.skils__content {
  text-align: center;
}

/*.skils__pictures {
  padding-bottom: 100px;
}*/

.skils__picuture_title {
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
  font-family: Lato;
}


/*section_4 SNSアイコン*/

.sns__section {
  background-color: #f2f2f2;
  text-align: center;
}

.sns__content {
  padding: 200px 0;
  display: inline-block;
  font-size: 0;
}

.sns__items {
  width: 185px;
  display: inline-block;
  text-align: center;
  transition: .3s;
}

.sns__items:hover {
  background-color: #fff;
}

.sns__icons {
  color: #74cfae;
  font-size: 60px;
  padding: 30px 0;
}


/*フッター*/

.footer {
  background-color: #74cfae;
}

.footer__inner {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__text {
  color: #fff;
  text-align: right;
  padding: 20px 0 25px 0;
  font-family: Lato;
}


/*メディアクエリ--> タブレット*/

@media screen and (min-width: 767px) and (max-width: 1199px) {


}








